:root {
    --main-bg-color: #007001;
    --primary-color: #0a1128;
    --secondary-color: #FFFFFF;
    --light-color: #eeeeee;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.main-bg {
    background-image: url('../img/main-bg.png');
    background-size: cover;
    background-position: center center;
    color: var(--secondary-color);
}

.secondary-bg {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--main-bg-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.7rem;
}

div.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.home-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.home-text, .home-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-img img {
    max-width: 100%;
    height: auto;
}

.cardapio-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 4rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.galeria-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.galeria-img img {
    transition: all 300ms ease-in-out;
}

.galeria-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.galeria-heading {
    margin-bottom: 1.8rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36.0rem;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6rem;
}

table caption {
    font-style: italic;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 0.5rem;
    text-align: center;
    border: 0.1rem solid var(--light-color);
}

aside img {
    height: 5.5rem;
    padding-top: 0.5rem;
}

.contato-form {
    grid-column: span 2;
}

.contato-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    padding-bottom: 3rem;
}

#contato h2, #contato p {
    text-align: center;
}

.form-group {
    flex: 1 1 32;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background: var(--secondary-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 6px 2px var(--primary-color);
}

.form-group button {
    border: 0.5rem solid var(--secondary-color);
    background: none;
    color: var(--secondary-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.footer {
    text-align: center;
}

.footer a {
    font-size: 1.6rem;
    color: inherit;
}

.footer p {
    margin: 0;
    padding: 2rem;
}

.fechar-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--light-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main-bg-color);
    transform: rotate(180deg);
}

@media (max-width: 80rem) {
    .home-content, .grid {
        grid-template-columns: 1fr;
    }
    .galeria-img {
        max-width: 100%;
        max-height: 100%;
    }
    .galeria-img img {
        width: 100%;
    }
    .grid-one-content {
        display: block;
    }
    .menu {
        bottom: 0;
        text-align: center;
        display: none;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu-spacing {
        display: none;
    }
    .fechar-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--main-bg-color);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .fechar-menu:checked~.menu {
        display: block;
    }
    .fechar-menu:checked~.fechar-menu-label::after {
        content: '×';
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 3.2rem;
    }
    h4 {
        font-size: 3.2rem;
    }
    h5 {
        font-size: 3rem;
    }
    h6 {
        font-size: 2.8rem;
    }
}

/* @media (max-width: 900px) {
    #galeria .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    #galeria .grid {
        grid-template-columns: 1fr;
    }
} */